streamlit
crewai
crewai-tools
openai
python-dotenv
pandas
numpy
matplotlib
seaborn
scikit-learn
plotly
pydantic
pydantic-core
#Additional Dependencies for deployment
pysqlite3-binary
chromadb
litellm
litellm[all]
